@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="table-container"></div>

<script>
    $(document).ready(function () {

        loadGrid('table-container'
            , '/Home/GetMacAddresses'
            , '/Home/GetMacAddress'
            , '/Home/DeleteMacAddress'
            , '/Home/SaveMacAddress'
            , 5,
            {
                TableId: 'mac_table',
                Columns: [
                    { DataField: 'Id', DataType: 'int', IsKey: true },
                    { DataField: 'Address', DataType: 'string', IsKey: false, DataRowCustom: 'AddressRow', ColumnNameCustom: 'Mac Address' },
                    { DataField: 'Description', DataType: 'string', IsKey: false }
                ]
            });
    });
</script>